---
layout: page
---

<div class="person">
  <aside>
    <img id="profile-picture" src={{ page.profile_picture }}>
    <h4>Github: <a href="https://www.github.com/{{ page.github }}">{{ page.github }}</a>
  </aside>
  <!-- Wrapper Start -->
  <section id="intro" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <h1><a href="https://www.github.com/{{ page.github }}">{{ page.name }}</a></h1>
            <hr />
            <p>{{ content }}</p>
            
            
            
            
            
            
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>
