---
layout: page
---

<div class="person">
  <!-- Wrapper Start -->
  <section>
    <div class="container">
      <div class="row">
        <div>
          <div class="block">
            <aside>
              <img id="profile-picture" src={{ page.profile_picture }} width="200" height="200">
              <!-- <h4>Github: <a href="https://www.github.com/{{ page.github }}">{{ page.github }}</a> -->
            </aside>
            <h1><a href="https://www.github.com/{{ page.github }}">{{ page.name }}</a></h1>
            <hr />
            <p>{{ content }}</p>
            
            
            
            
            
            
          </div>
        </div><!-- .col-md-7 close -->
      </div>
    </div>
  </section>
</div>
